$font-xs: 2vmin
$font-s: 3vmin
$font-m: 4vmin
$font-l: 5vmin
$font-xl: 6vmin

$padding-xs: 1vmin
$padding-s: 2vmin
$padding-m: 3vmin
$padding-l: 4vmin
$padding-xl: 5vmin

$border-radius-xs: 2vmin
$border-radius-s: 4vmin
$border-radius-m: 6vmin

*
    font-family: 'Onest'
    font-weight: 700

button
    padding: $padding-l
    font-size: $font-m
    transition: color .2s ease-in-out
    transition: background-color .2s ease-in-out

    &:hover
        cursor: pointer

button, input
    border: none
    outline: none

button, .message
    display: flex
    align-items: center
    justify-content: center

button, input, .message
    border-radius: $border-radius-s

input
    padding: $padding-s
    padding-left: $padding-m

input, .message
    font-size: $font-s

.message
    text-align: center
    padding: $padding-m
