@import './colors'
@import './commons'

.pomodoro
    width: 100%
    height: 100%
    padding: 3vmin
    flex-direction: column
    display: flex
    overflow: hidden
    position: relative
    background-color: $main-color

    section
        flex: 1

    footer
        display: flex
        flex-direction: row
        justify-content: space-between
        gap: 2vmin

    aside
        position: absolute
        top: 0
        left: 100%
        height: 100%
        width: 50%
        border-radius: 6vmin 0 0 6vmin
        background-color: $text-color
        transition: transform .5s ease-out

        &.hidden
            transform: translateX(100%)

        &.visible
            transform: translateX(-100%)
